@font-face {
  font-family: 'mgf';
  src: url('./MGF-PinlockPersonalUse.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes listAnimation {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color:#ffffff;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.header{
  display:flex;
  padding:5px 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-family: 'mgf','Arial','sans-serif';
  font-size: 30px;
  font-weight: 800;
  align-items: baseline;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.navigate{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
   
}

.content{
  flex-grow: 1;
  width:50%;
  margin-top: 30px;
  margin:50px auto;
}

.list{
  border-radius: 30px;
  gap:15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  width:100%;
  background-color: #ffffff0c;
  background:linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  border:1px solid rgba(255, 255, 255, 0.408);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3),
                0 1px 2px rgba(255, 255, 255, 0.1);
}
.list:hover{
  animation: listAnimation 5s ease-in-out infinite;
}

.listItem{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 25px;
}

.task-main{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  gap:10px;
}

.heading{
  display:flex;
  align-items: center;
  flex-grow: 1;
  gap:10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #ff8ca3; 
    margin-right: 12px;
}

.taskName.completed {
    text-decoration: line-through;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.DeleteButton{
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
  padding: 20px;
  margin-left: auto;
  display:flex;
  cursor:pointer;
}
.DeleteButton:hover{
  color:rgb(255, 168, 187);
}

.taskName {
  font-weight: 600;
  font-size: 1.1rem;
}

img{
  display:block;
  max-width:100%;
  border-radius: 15px;
  height:auto;
  margin: 20px auto;
}

.dueDate{
  margin-left: auto;
}

.navigate{
  font-family: 'mgf','Arial','sans-serif';
  font-size: 20px;
  font-variant: small-caps ;
  font-weight: 300;
}

.showDes{
  background-color: inherit;
  border:none;
  font-weight: 600;
  margin-left: auto;
  font-size: 30px;
  cursor:pointer;
}
.showDes:hover{
  color:rgb(255, 168, 187);
}
.showDes.open{
  transform: rotate(180deg);
}

.footer{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  text-align: center;
}

/*{
  outline:1px dashed rgb(70, 70, 70) !important;
}*/
